# SW01
## Aufgabe 1.1
##### a) Lesen Sie den Datensatz child.csv ein.

In [179]:
from pandas import Series,DataFrame
import pandas as pd

data = pd.read_csv("child.csv", index_col=0)

##### b) Überprüfen Sie mit dem Attribut .shape die Dimension der Daten.

In [180]:
print(data.shape)
print()

(30, 21)

##### c) Bestimmen Sie den Mittelwert und Median der einzelnen Variablen mit dem Python-Attribut .describe().

In [181]:
print("Mittelwert:")
print(data.mean())
print("\nMedian:")
print(data.median())
print()

Mittelwert:
Average.disposable.income         18.847713
Children.in.poor.homes            12.372193
Educational.Deprivation            2.673333
Overcrowding                      31.950163
Poor.environmental.conditions     25.217498
Average.mean.literacy.score      496.317000
Literacy.inequality                1.665085
Youth.NEET.rate                    7.377778
Low.birth.weight                   6.643333
Infant.mortality                   5.446667
Breastfeeding.rates               86.027586
Vaccination.rates..pertussis.     93.775862
Vaccination.rates.measles.        91.517241
Physical.activity                 20.134615
Mortality.rates                   24.598966
Suicide.rates                      6.856272
Smoking                           16.512500
Drunkenness                       15.225000
Teenage.births                    15.500000
Bullying                          10.979167
Liking.school                     27.172000
dtype: float64

Median:
Average.disposable.income         21.107187
Children.in.poor.homes            11.659053
Educational.Deprivation            1.500000
Overcrowding                      21.574977
Poor.environmental.conditions     25.487116
Average.mean.literacy.score      501.335000
Literacy.inequality                1.682739
Youth.NEET.rate                    6.200000
Low.birth.weight                   6.750000
Infant.mortality                   4.200000
Breastfeeding.rates               91.000000
Vaccination.rates..pertussis.     95.800000
Vaccination.rates.measles.        94.000000
Physical.activity                 19.300000
Mortality.rates                   23.150000
Suicide.rates                      6.784772
Smoking                           16.600000
Drunkenness                       14.550000
Teenage.births                    10.600000
Bullying                           9.650000
Liking.school                     25.600000
dtype: float64

##### d) Überprüfen Sie, ob die Niederlande in der Länderliste des Datensatzes auftaucht. Gibt es auch einen Eintrag für China? Die Zeilenamen ermitteln Sie mit dem Attribut .index. Wie erhalten Sie die Spaltennamen?

In [182]:
print("Niederlande:")
print(data.index.contains("Niederlande"))
print("\nChina:")
print(data.index.contains("China"))
print("\nAlle Spalten")
print(data.columns)

Niederlande:
False

China:
False

Alle Spalten
Index(['Average.disposable.income', 'Children.in.poor.homes',
       'Educational.Deprivation', 'Overcrowding',
       'Poor.environmental.conditions', 'Average.mean.literacy.score',
       'Literacy.inequality', 'Youth.NEET.rate', 'Low.birth.weight',
       'Infant.mortality', 'Breastfeeding.rates',
       'Vaccination.rates..pertussis.', 'Vaccination.rates.measles.',
       'Physical.activity', 'Mortality.rates', 'Suicide.rates', 'Smoking',
       'Drunkenness', 'Teenage.births', 'Bullying', 'Liking.school'],
      dtype='object')

##### e) In welchen fünf Ländern waren die meisten Jugendlichen mindestens zweimal betrunken? Wie hoch ist der maximale Prozentsatz? Benützen Sie die Methode .sort_values(by=..., ascending=...).

In [183]:
print(data.Drunkenness.sort_values(ascending=False))

Denmark            24.8
Finland            22.4
United Kingdom     22.1
Poland             19.9
Canada             18.8
Austria            18.6
Hungary            17.7
Czech Republic     16.8
Slovak Republic    16.8
Ireland            16.3
Spain              16.1
Germany            15.1
Norway             14.0
Belgium            13.9
Sweden             13.8
Netherlands        12.1
Luxembourg         11.7
Switzerland        11.4
France             11.2
Portugal           10.9
Iceland            10.5
Greece             10.3
United States      10.2
Italy              10.0
Australia           NaN
Japan               NaN
Korea               NaN
Mexico              NaN
New Zealand         NaN
Turkey              NaN
Name: Drunkenness, dtype: float64

##### f) In welchem Land ist die Säuglingssterblichkeit am geringsten? Wie hoch ist sie in diesem Land? Benützen Sie die Methode .nsmallest(...).

In [184]:
print(data['Infant.mortality'].nsmallest(3))

Iceland       2.3
Sweden        2.4
Luxembourg    2.6
Name: Infant.mortality, dtype: float64

##### g) In welchen Ländern ist der Prozentsatz an Jugendlichen, die sich regelmässig bewegen, kleiner als der Durchschnitt? Benützen Sie das Attribut .loc[... < ..., :]

In [185]:
print(data.loc[data['Physical.activity'] < data['Physical.activity'].mean(), ['Physical.activity']])

                Physical.activity
Austria                      19.6
Belgium                      19.1
France                       13.5
Germany                      17.0
Greece                       15.5
Hungary                      19.5
Italy                        15.1
Luxembourg                   15.2
Mexico                       18.1
Norway                       15.6
Poland                       17.3
Portugal                     14.6
Sweden                       16.4
Switzerland                  13.1
Turkey                       20.0
United Kingdom               18.7

## Aufgabe 1.2
##### a) Lesen Sie die auf Ilias abgelegte Datei d.fuel.dat ein.

In [186]:
fuel = pd.read_csv("d.fuel.dat", sep=",", index_col=0)

##### b) Wählen Sie nur die fünfte Zeile des Dataframe d.fuel aus. Welche Werte stehen in der fünften Zeile? Verwenden Sie das Attribut .loc (siehe Aufgabe 1)).

In [187]:
print(fuel.loc[5])

weight     2440
mpg          32
type      Small
Name: 5, dtype: object

#### c) Wählen Sie nun die erste bis fünfte Beobachtung des Datensatzes aus. So lässt sich übrigens bei einem unbekannten Datensatz ein schneller Überblick über die Art des Dataframe gewinnen.

In [188]:
print(fuel.loc[1:5])

   weight  mpg   type
X
1    2560   33  Small
2    2345   33  Small
3    1845   37  Small
4    2260   32  Small
5    2440   32  Small

##### d) Berechnen Sie den Mittelwert der Reichweiten aller Autos in Miles/Gallon.
Python -Hinweis: Methode .mean()

In [189]:
print(fuel.mpg.mean())

24.583333333333332

##### e) Berechnen Sie den Mittelwert der Reichweite der Autos 7 bis 22.

In [190]:
print(fuel.mpg.loc[7:22].mean())

27.75

##### f) Erzeugen Sie einen neuen Vektor t_kml, der alle Reichweiten in km/l, und einen Vektor t_kg, der alle Gewichte in kg enthält.

In [191]:
fuel['t_kml'] = fuel.apply(lambda row: (row.mpg * 3.789 * 1.6093), axis=1)
fuel['t_kg'] = fuel.apply(lambda row : (row.weight * 0.45359), axis=1)
print(fuel.loc[1:5])

   weight  mpg   type       t_kml        t_kg
X
1    2560   33  Small  201.222044  1161.19040
2    2345   33  Small  201.222044  1063.66855
3    1845   37  Small  225.612595   836.87355
4    2260   32  Small  195.124406  1025.11340
5    2440   32  Small  195.124406  1106.75960

##### g) Berechnen Sie den Mittelwert der Reichweiten in km/l und denjenigen der Fahrzeuggewichte in kg.

In [192]:
print("km/l")
print(fuel.t_kml.mean())
print("\nkg")
print(fuel.t_kg.mean())

km/l
149.90026012499996

kg
1315.7889916666668

## Aufgabe 1.3
##### a) Berechnen Sie die Summen und Summen im Quadrat .
Python -Hinweis: Verwenden Sie die Methode .sum()

In [193]:
land = pd.DataFrame([2.1,2.4,2.8,3.1,4.2,4.9,5.1,6.0,6.4,7.3,10.8,12.5,13.0,13.7,14.8,17.6,19.6,
23.0,25.0,35.2,39.6], columns=['ha'])
land['ha2'] = land.apply(lambda row: (row.ha * row.ha), axis=1)
print("Summe")
print(land.ha.sum())
print("\nSumme im Quadrat")
print(land.ha2.sum())

Summe
269.1

Summe im Quadrat
5729.27

##### b) Berechnen Sie denMittelwert und die Standardabweichung (ohne die in pandas implementierten Funktionen, sondern aufgrund der Definition der Grössen).
Python -Hinweis: Verwenden Sie die Methode .size()

In [194]:
import math
print("Menge an Datensätzen")
print(land.ha.size)
print("\nMittelwert")
print(land.ha.sum() / land.ha.size)
print("\nStandardabweichung")
land['hammit2'] = land.apply(lambda row: ((row.ha - (land.ha.sum() / land.ha.size)) * (row.ha - (land.ha.sum() / land.ha.size))), axis=1)
print(math.sqrt(land.hammit2.sum() / (land.ha.size - 1)))

Menge an Datensätzen
21

Mittelwert
12.814285714285715

Standardabweichung
10.679292378911898

##### c) Bestimmen Sie denMedian (ohne die in pandas implementierte Funktion, sondern aufgrund der Definition der Grössen).
Python -Hinweis: Verwenden Sie zum Sortieren die Methode .sort_values() und den Befehl np.round() zum Runden.

In [195]:
import numpy as np
print("Median")
print(land.ha.sort_values().loc[np.round(land.ha.size / 2)])

Median
10.8

##### d) Bestimmen Sie nun Mittelwert, Standardabweichung, Median und das 75% Quantil mit den Methoden .mean(), .std(), .median().

In [197]:
print("Mittelwert")
print(land.ha.mean())
print("\nStandardabweichung")
print(land.ha.std())
print("\nMedian")
print(land.ha.median())
print("\n75% Quantil")
print(land.ha.quantile(q=.75, interpolation="midpoint"))

Mittelwert
12.814285714285715

Standardabweichung
10.679292378911898

Median
10.8

75% Quantil
17.6