# SW01
## Aufgabe 1.1
### a)

In [14]:
from pandas import Series,DataFrame
import pandas as pd

data = pd.read_csv("child.csv", index_col=0)

### b)

In [17]:
print(data.shape)
print()

(30, 21)

### c)

In [16]:
print("Mittelwert:")
print(data.mean())
print()
print("Median:")
print(data.median())
print()

Mittelwert:
Average.disposable.income         18.847713
Children.in.poor.homes            12.372193
Educational.Deprivation            2.673333
Overcrowding                      31.950163
Poor.environmental.conditions     25.217498
Average.mean.literacy.score      496.317000
Literacy.inequality                1.665085
Youth.NEET.rate                    7.377778
Low.birth.weight                   6.643333
Infant.mortality                   5.446667
Breastfeeding.rates               86.027586
Vaccination.rates..pertussis.     93.775862
Vaccination.rates.measles.        91.517241
Physical.activity                 20.134615
Mortality.rates                   24.598966
Suicide.rates                      6.856272
Smoking                           16.512500
Drunkenness                       15.225000
Teenage.births                    15.500000
Bullying                          10.979167
Liking.school                     27.172000
dtype: float64

Median:
Average.disposable.income         21.107187
Children.in.poor.homes            11.659053
Educational.Deprivation            1.500000
Overcrowding                      21.574977
Poor.environmental.conditions     25.487116
Average.mean.literacy.score      501.335000
Literacy.inequality                1.682739
Youth.NEET.rate                    6.200000
Low.birth.weight                   6.750000
Infant.mortality                   4.200000
Breastfeeding.rates               91.000000
Vaccination.rates..pertussis.     95.800000
Vaccination.rates.measles.        94.000000
Physical.activity                 19.300000
Mortality.rates                   23.150000
Suicide.rates                      6.784772
Smoking                           16.600000
Drunkenness                       14.550000
Teenage.births                    10.600000
Bullying                           9.650000
Liking.school                     25.600000
dtype: float64

### d)

In [29]:
print("Niederlande:")
print(data.index.contains("Niederlande"))
print()
print("China:")
print(data.index.contains("China"))
print()
print("Alle Spalten")
print(data.columns)

Niederlande:
False

China:
False

Alle Spalten
Index(['Average.disposable.income', 'Children.in.poor.homes',
       'Educational.Deprivation', 'Overcrowding',
       'Poor.environmental.conditions', 'Average.mean.literacy.score',
       'Literacy.inequality', 'Youth.NEET.rate', 'Low.birth.weight',
       'Infant.mortality', 'Breastfeeding.rates',
       'Vaccination.rates..pertussis.', 'Vaccination.rates.measles.',
       'Physical.activity', 'Mortality.rates', 'Suicide.rates', 'Smoking',
       'Drunkenness', 'Teenage.births', 'Bullying', 'Liking.school'],
      dtype='object')

### e)

In [45]:
print(data.Drunkenness.sort_values(ascending=False))

Denmark            24.8
Finland            22.4
United Kingdom     22.1
Poland             19.9
Canada             18.8
Austria            18.6
Hungary            17.7
Czech Republic     16.8
Slovak Republic    16.8
Ireland            16.3
Spain              16.1
Germany            15.1
Norway             14.0
Belgium            13.9
Sweden             13.8
Netherlands        12.1
Luxembourg         11.7
Switzerland        11.4
France             11.2
Portugal           10.9
Iceland            10.5
Greece             10.3
United States      10.2
Italy              10.0
Australia           NaN
Japan               NaN
Korea               NaN
Mexico              NaN
New Zealand         NaN
Turkey              NaN
Name: Drunkenness, dtype: float64